body {
  /* padding-top: 40px;
  padding-bottom: 40px; */
  background-color: #cfdefb;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-control {
    margin-bottom: -1px;
}
.top-radius {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.no-radius {
  margin-bottom: -1px;
  border-radius: 0;
}
.bottom-radius {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="submit"] {
  margin-top: 10px;
}
.bg-white {
    background-color: #ffffff;
}
.bg-dark-white {
    background-color: rgb(238, 238, 238);
}
.border-line-thin-black {
    border: 1px;
    border-color: #000000;
}
.border-radius {
    border-radius: 1px;
}
.top-buffer { margin-top:20px; }
.top-buffer-sm { margin-top:10px; }
.clickable {
    cursor: hand;
}
.boxsizing-border {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}