.panel.panel-danger{'ng-show' => 'error'}
  .panel-heading
    %h4
      {{error.message}}
  .panel-body
    %ul.list-group
      %li.list-group-item{'ng-repeat' => 'detail in error.details'}
        {{detail}}