/ Your title comment

.jumbotron
  %h1 Welcome to Woop!
  %span
    Woop is all about you owning your own data, but no one else
.btn-group
  %button.btn.btn-primary{'ng-click' => 'loginClicked();'}
    Login
  %button.btn-default.btn{'ng-click' => 'signupClicked();'}
    Sign Up
.well-sm
  %span
    {{ today | date}}