.slide-animate-container
  .alert.alert-danger.slide-animate{'role'=>'alert', 'ng-show'=>'error'}
    {{error}}


  %form.form-horizontal.form
    .well.col-sm-10.col-sm-offset-1
      .col-sm-6.col-sm-offset-3
        %input.form-control.top-radius{:type=>'email',:placeholder=>'Email',:name=>'email', 'ng-model' => 'email'}
        %input.form-control.bottom-radius{:type=>'password',:placeholder=>'Password',:name=>'password', 'ng-model' => 'password'}
      .col-sm-6.col-sm-offset-3
        %button.btn.btn-lg.btn-primary.btn-block.top-buffer.top-radius{'ng-click'=>'doLogin();'} Login
      .col-sm-6.col-sm-offset-3
        %button.btn.btn-lg.btn-default.btn-block.form-control.bottom-radius{'ng-click' => 'navigateBack();'} Cancel
      .col-sm-6.col-sm-offset-3
        %a.btn.btn-lg.btn-default.btn-block.top-buffer{href: '/auth/twitter'} Login with Twitter