.modal-header
  %h2.modal-title
    {{moment.title}}
    %span.pull-right
      %small
        {{moment.created_at | date}}
.modal-body
  .row
    .col-sm-12
      {{moment.text}}
  .row.top-buffer
    .col-sm-4
      %small
        %span.glyphicon.glyphicon-globe{'ng-show'=>'moment.resolved_location'}
        {{moment.resolved_location}}
    .col-sm-offset-4.col-sm-4{'ng-show' => 'moment.mood'}
      %small
        Mood:
        %rating{'value' => 'moment.mood', 'max' => '10', 'readonly' => 'true'}
.modal-footer
  %button.btn.btn-primary{'ng-click' => 'dismiss();'} Dismiss
  %button.btn.btn-default{'ng-click' => 'showDetails();'} Edit
