.container
  .col-sm-offset-1.col-sm-10
    %ng-include{src: "'/partials/error.html'"}
  .well.bg-white.col-sm-offset-1.col-sm-10.row
    %form.form-horizontal{role: 'form'}
      .form-group
        .col-sm-offset-1.col-sm-10
          %input.form-control{placeholder: 'Title', 'ng-model' => 'moment.title'}
          %textarea.top-buffer-sm.boxsizing-border.form-control{placeholder: 'Text', 'ng-model' => 'moment.text', rows: 10}
    .row.top-buffer
      .col-sm-offset-1.col-sm-4
        %small{'ng-click' => 'setGeoLocation();'}
          %span.glyphicon{'ng-class' => "{'glyphicon-map-marker': !moment.location, 'glyphicon-globe' : moment.location}"}
          {{moment.resolved_location || moment.location}}
      .col-sm-offset-3.col-sm-4
        %small
          Mood
          %rating{'value' => 'rating', 'max' => 'maxMood', 'on-hover' => 'hoveringOver(value);', 'readonly' => false, 'on-leave' => 'overStar = null;', 'ng-click' => 'setMood(value);'}
          %span.label{'ng-class' => "{'label-warning': percentage<30, 'label-info': percentage>=30 && percentage<70, 'label-success': percentage>=70}", 'ng-show' => 'overStar'}
            {{percentage}}%
  .top-buffer.col-sm-offset-1.col-sm-10
    %button.btn-default.btn-lg.btn{'ng-click' => 'clearForm();'} Cancel
    %button.btn-primary.btn-lg.btn{'ng-click' => 'saveMoment(moment);'} Save!
