%header.navbar.navbar-static-top.bs-docs-nav{'role'=>'banner', 'ng-controller'=>'NavigationCtrl'}
  %nav.navbar.navbar-inverse{'role'=>'navigation'}
    %div.container-fluid
      .navbar-header
        %button.navbar-toggle{'data-toggle'=>'collapse', 'data-target'=>'#bs-top-navbar'}
          %span.sr-only Toggle Navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{'href'=>'/'} {{appName}}

      #bs-top-navbar.collapse.navbar-collapse
        %ul.nav.navbar-nav
        %ul.nav.navbar-nav.navbar-right
          %li{'ng-repeat'=>'navitem in navItems'}
            %a{'href' => '{{navitem.url}}'} {{navitem.text}}
          %li{'ng-show' => 'showLogout'}
            %a{'href' => '#', 'ng-click' => 'logout();'} Logout
