.slide-animate-container
  .alert.alert-danger.slide-animate{'role'=>'alert', 'ng-show'=>'error'}
    {{error.error}}
    %ul{'ng-show' => 'error.detail'}
      %li
        {{error.detail.field}} - {{error.detail.message}}


  %form.form-horizontal.form
    .well.col-sm-10.col-sm-offset-1
      .col-sm-6.col-sm-offset-3
        %input.form-control.top-radius{:type=>'email',:placeholder=>'Email',:name=>'email', 'ng-model' => 'request.username'}
        %input.form-control.no-radius{:type=>'text',:placeholder=>'First name', :name=>'firstname', 'ng-model'=>'request.firstname'}
        %input.form-control.no-radius{:type=>'text',:placeholder=>'Last name', :name=>'lastname', 'ng-model'=>'request.lastname'}
        %input.form-control.no-radius{:type=>'password',:placeholder=>'Password',:name=>'password', 'ng-model' => 'request.password'}
        %input.form-control.bottom-radius{:type=>'password',:placeholder=>'Repeat Password', :name=>'pwdRepeat', 'ng-model'=>'request.password_repeat'}
      .col-sm-6.col-sm-offset-3
        %button.btn.btn-lg.btn-primary.btn-block.top-buffer{'ng-click'=>'register(request);'} Login
        %button.btn.btn-lg.btn-default.btn-block{'ng-click' => 'reset();'} Cancel