.container
  .panel-info{'ng-show' => 'loading'}
    .panel-heading
      %h4 We are loading your content...
  %ng-include{'src' => "'/partials/error.html'"}
  .well.bg-white
    %table.table-striped.table{'ng-hide' => 'empty'}
      %thead
        %tr
          %td
            Date
          %td
            Title
          %td
            Source
      %tr{'ng-repeat' => 'moment in moments | orderBy:-updated_at'}
        %td{'ng-click' => 'expose(moment);'}
          {{moment.updated_at | date}}
        %td{'ng-click' => 'expose(moment);'}
          {{(moment.title || moment.text) | limitTo: 75}}
        %td{'ng-click' => 'expose(moment);'}
          {{moment.provider}}
        %td{'ng-click' => 'deleteMoment(moment);'}
          %span.glyphicon.glyphicon-trash
  %button.top-buffer.btn.btn-primary{'ng-click' => 'createEvent();', 'ng-hide' => 'loading', 'ng-hide' => 'empty'} New moment

  .panel-info{'ng-show' => 'empty'}
    %h4
      You currently don't have any moments. Why don't you create one...?
    %button.btn.btn-primary{'ng-click' => 'createEvent();'} Create my first moment