!!! 5
/ [if lt IE 7] <html class="no-js ie6 oldie" lang="en">
/ [if IE 7] <html class="no-js ie7 oldie" lang="en">
/ [if IE 8] <html class="no-js ie8 oldie" lang="en">
/ [if gt IE 8] <html class="no-js" ng-app="woopApp" lang="en">
%head
  %meta{'charset' => 'utf-8'}
  %meta{'http-equiv' => 'X-UA-Compatible', 'content' => 'IE=edge,chrome=1'}

  %title Woop!
  %meta{'name' => 'description', 'content' => 'owning your own data yourself'}
  %meta{'name' => 'author', 'content' => 'cedric wider'}
  %meta{'name' => 'viewport', 'content' => 'width=device-width,initial-scale=1'}

  / bower:css
  / endbower
  %link{'rel' => 'stylesheet', 'href' => '/styles/cedstyles.css'}

/ application body
%body{'ng-app' => 'woopApp'}
  / bower:js
  / endbower
  %div{'ng-include' => "'/partials/navigation.html'"}
  .container
    .ng-view.slide-animate-container

/ footer
%footer
  %script{src: '/js/woop.js',                           type: 'text/javascript'}
  %script{src: '/js/controller/introcontroller.js',     type: 'text/javascript'}
  %script{src: '/js/controller/logincontroller.js',     type: 'text/javascript'}
  %script{src: '/js/controller/registercontroller.js',  type: 'text/javascript'}
  %script{src: '/js/controller/navigationcontroller.js',type:'text/javascript'}
  %script{src: '/js/controller/authrespcontroller.js',  type: 'text/javascript'}
  %script{src: '/js/controller/timelinecontroller.js',  type: 'text/javascript'}
  %script{src: '/js/controller/momentcontroller.js',    type: 'text/javascript'}
  %script{src: '/js/controller/homecontroller.js',      type: 'text/javascript'}

  %script{src: '/js/factory/userfactory.js',            type: 'text/javascript'}
  %script{src: '/js/factory/momentfactory.js',          type: 'text/javascript'}

  %script{src: '/js/service/utilsservice.js',           type: 'text/javascript'}
  %script{src: '/js/service/tokenservice.js',           type: 'text/javascript'}
  %script{src: '/js/service/userservice.js',            type: 'text/javascript'}
  %script{src: '/js/service/geolocationservice.js',     type: 'text/javascript'}
  %script{src: '/js/initialize.js',                     type: 'text/javascript'}